<div class="modal fade" id="sign_up">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Join Us!</h1>
      </div>
      <div class="modal-body">
        <%= form_for(resource, :as => resource_name,
        :url => registration_path(resource_name),
        :html => { :role => "form" }) do |f| %>
    
          <%= devise_error_messages! %>
          
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              
              <div class="form-group">
                <div class="row text-center">
                  <div class="col-md-3 col-md-offset-3 border-right">
                    
                    <div class="radio-inline">
                      <%= f.radio_button :is_artist, "true" %>
                      <%= f.label :is_artist_true, "ARTIST", title: "AS AN ARTIST", data: {toggle: "popover", 
                        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.",
                        placement: "left", container: "body", trigger: "hover"} %>
                    </div>
                    
                  </div>
                  <div class="col-md-3">
                    
                    <div class="radio-inline">
                      
                      <%= f.radio_button :is_artist, "false" %>
                      <%= f.label :is_artist_false, "PATRON", title: "AS A PATRON", data: {toggle: "popover", 
                        content: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.",
                        placement: "right", container: "body", trigger: "hover"} %>
                    
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.text_field :full_name, class: "form-control", placeholder: "NAME" %>
              </div>
              <div class="form-group">
                <%= f.text_field :email, class: "form-control", placeholder: "EMAIL" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: "form-control", placeholder: "PASSWORD" %>
              </div>
              <div class="text-center">
                <%= f.submit "Done!", class: "btn btn-link" %>
              </div>
            </div>
          </div>
          
          <% end %>
          <!--  -->
      </div><!-- /.modal-body  -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
