  <% comment_array = @post.comments.sort_by {|comment| comment.votecount }.reverse %>
  <% comment_array.each do |comment| %>
      <div class='votes'>
        <!--Upvoting-->
        <% if current_user && current_user.comment_votes.where(:comment_id => comment.id, :state => 1).present? %>
            <%= link_to image_tag('upvote.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 0}), :method => :post %>
            <div class='num_votes'><%= comment.up_minus_down %></div>
            <%= link_to image_tag('icons/grey_triangle_down.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => -1}), :method=> :post %>
        <% elsif current_user && current_user.comment_votes.where(:comment_id => comment.id, :state => -1).present? %>
            <%= link_to image_tag('icons/grey_triangle.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 1}), :method => :post %>
            <div class='num_votes'><%= comment.up_minus_down %></div>
            <%= link_to image_tag('downvote.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 0}), :method => :post %>
        <% else %>
            <%= link_to image_tag('icons/grey_triangle.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 1}), :method => :post %>
            <div class='num_votes'><%= comment.up_minus_down %></div>
            <%= link_to image_tag('icons/grey_triangle_down.png'), comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => -1}), :method => :post %>
        <% end %>
      </div>

      <div class='ind-comment-parent' id='comment_<%= comment.id %>'>
          <!--<p><%= image_tag(comment.image.url(:small)) %>-->
          <p class="post-by"> <!-- for when the other one is commented out -->
          <%= comment.fullname %> on <%= l(comment.created_at, format: '%B, %d %Y') %>
          </p>

          <blockquote>
            <p><%= comment.message %></p>
          </blockquote>

          <button class="reply">reply</button>
      </div>
      <div class="clear"></div>
  <% end %>