      <% comment_array = @post.comments.sort_by {|comment| comment.votecount }.reverse %>
      <% comment_array.each do |comment| %>
          <div class='votes'>
            <!--Upvoting-->
            <% if current_user.comment_votes.where(:comment_id => comment.id, :state => 1).present? %>
                <%= link_to '▲', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 0}), :class => 'upvote', :id => "upvote_#{comment.id}", :method => :post %>
                <div class='num_votes'><%= comment.up_minus_down %></div>
                <%= link_to '▼', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => -1}), :class => 'nullvote', :id => "nullvote_#{comment.id}", :method=> :post %>
            <% elsif current_user.comment_votes.where(:comment_id => comment.id, :state => -1).present? %>
                <%= link_to '▲', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 1}), :class => 'nullvote', :id => "nullvote_#{comment.id}", :method => :post %>
                <div class='num_votes'><%= comment.up_minus_down %></div>
                <%= link_to '▼', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 0}), :class => 'downvote', :id => "downvote_#{comment.id}", :method => :post %>
            <% else %>
                <%= link_to '▲', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => 1}), :class => 'nullvote', :id => "nullvote_#{comment.id}", :method => :post %>
                <div class='num_votes'><%= comment.up_minus_down %></div>
                <%= link_to '▼', comment_votes_path(:comment_vote => {:comment_id => comment.id, :state => -1}), :class => 'nullvote', :id => "nullvote_#{comment.id}", :method => :post %>
            <% end %>
          </div>

          <div class='ind-comment-parent' id='comment_<%= comment.id %>'>
            <!--<p><%= image_tag(comment.image.url(:small)) %>-->
            <p class="post-by"> <!-- for when the other one is commented out -->
              <%= comment.fullname %> on <%= l(comment.created_at, format: '%B, %d %Y') %>
            </p>

            <blockquote>
              <p><%= comment.message %></p>
            </blockquote>

            <button class="reply">reply</button>
          </div>
          <div class="clear"></div>
      <% end %>
